@media only screen and (min-width: 991px ) and (max-width: 1200px ){
    .navbar-nav .nav-link{
      font-size: 12px !important;
    }
    .header-btn {
      padding: 8px 11px;
      background-color: var(--primary-color);
      color: white;
      text-decoration: none;
      transition: background-color 0.3s ease;
      font-size: 12px;
  }
  }

  @media(max-width:991px){
    .top_filter .heading_bx h3{
        font-size: 20px;
    }
  }