@media only screen and (min-width: 991px ) and (max-width: 1200px ){
    .navbar-nav .nav-link{
      font-size: 12px !important;
    }
    .header-btn {
      padding: 8px 11px;
      background-color: var(--primary-color);
      color: white;
      text-decoration: none;
      transition: background-color 0.3s ease;
      font-size: 12px;
  }
  .auction_wrapper .aoction_card .auc_content{
    height: 422px;
  }
  .auction_wrapper .aoction_card .auc_content span{
    font-size: 14px;
    line-height: 16px;
  }
  .testimonial_wrapper .review_info h5{
    font-size: 20px;
  }
  .testimonial_wrapper .review_info .write_review a{
    padding: 10px 15px;
  }
  .footer_wrapper .inner-content .logo img{
    width: 134;
  }
  .footer_wrapper .inner-content .row.bootom .bottom_menu a{
    font-size: 11px;
  }
  .footer_wrapper .inner-content .row.bootom .copy-right p{
    font-size: 11px;
  }
  }

  @media(max-width:991px){
    .top_filter .heading_bx h3{
        font-size: 20px;
    }
    .auction_wrapper .aoction_card .auc_content{
     margin-left: 26px;
     margin-right: 26px;
    }
    .auction_wrapper .aoction_card .auc_content.card_2{
      margin-left: 26px;
      margin-right: 26px;
    }
    .auction_wrapper .aoction_card .auc_content{
      height: 388px;
    }
    .testimonial_wrapper .main_title p{
      text-align: center;
    }
    .newsletter-wrapper .form_wrap{
      flex-wrap: wrap;
    }
    .newsletter-wrapper .social-icon{
      text-align: center;
    }
    .footer_wrapper .footer_banner img{
      height: 1009px;
    }
    .footer_wrapper .inner-content .row.bootom .copy-right p{
      text-align: center;
    }
    .footer_wrapper .inner-content .row.bootom .bottom_menu{
      justify-content: center;
      flex-wrap: wrap;
      padding-bottom: 88px;
    }
    .bottom_footer_wrapper{
      display: block;
    }
  }
  @media(max-width:551px){
    .auction_wrapper .aoction_card .auc_content{
      margin-left: 16px;
      margin-right: 16px;
     }
     .auction_wrapper .aoction_card .auc_content.card_2{
       margin-left: 16px;
       margin-right: 16px;
       height: 478px;
     }
     .auction_wrapper .aoction_card .auc_content{
      height: 420px;
     }
     .auction_wrapper .aoction_card .auc_content{
      padding: 20px 18px;
     }
     .inner_banner_sec .inner-banner .inner-content h3{
      font-size: 32px;
     }
     .footer_wrapper .footer_banner img{
      height: 1070px;
     }
     .product_slider .paraNew{
      font-size: 14px;
     }
     .login_page_wrapper .container{
      height: 704px !important;
     }
  }



/* sellercondition-section start  */
  @media(max-width:991px){
    .seller-condition-banner-tittle h4{
        font-size: 32px;
    }
  }
  /* sellercondition-section end  */

  @media(max-width:991px){
    .absenteecondition-section .absenteecondition-form img{
        width: 100%;
    }
    .absenteecondition-form-info h1{
      font-size: 20px;
    }
  }